In [2]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 3.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=3325d7076039d0d91806f63bda851c23625067dd3109081bfb28915a9d338975
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [5]:
df = spark.read.csv('mydata.csv')

In [6]:
df.show()

+-----+-----+
|  _c0|  _c1|
+-----+-----+
| name|sales|
| John|  100|
|Cindy|   86|
| Carl|  230|
+-----+-----+

In [7]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)

In [8]:
df.columns

['_c0', '_c1']

In [9]:
df.describe().show()

+-------+----+------------------+
|summary| _c0|               _c1|
+-------+----+------------------+
|  count|   4|                 4|
|   mean|NULL|138.66666666666666|
| stddev|NULL| 79.40612906654835|
|    min|Carl|               100|
|    max|name|             sales|
+-------+----+------------------+

In [10]:
from pyspark.sql.types import (StructField,StringType,
                               IntegerType,StructType)

In [24]:
data_schema = [StructField('name', StringType(),True),
               StructField('salary', IntegerType(),True)]

In [25]:
final_struc = StructType(fields=data_schema)

In [26]:
df = spark.read.csv('mydata.csv', schema = final_struc)

In [27]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)

In [29]:
type(df['name'])

pyspark.sql.column.Column

In [30]:
df.select('name').show()

+-----+
| name|
+-----+
| name|
| John|
|Cindy|
| Carl|
+-----+

In [32]:
df.withColumn('newsalary',df['salary']*2).show()

+-----+------+---------+
| name|salary|newsalary|
+-----+------+---------+
| name|  NULL|     NULL|
| John|   100|      200|
|Cindy|    86|      172|
| Carl|   230|      460|
+-----+------+---------+